.clickable {
  cursor: pointer;
}
.no_clickable {
  cursor: not-allowed;
}
.black {
  background-color: black;
  color: white;
}
.white {
  background-color: white;
}
.centrado{
  text-align: center;
}
.btnReinicio{
  margin-top: 20px;
}
.letras{
  font-size:50px;
  font-weight: bold;
}
